body {
    padding-top: 56px; /* Adjust based on your header height */
    background-color: rgb(230, 227, 227);
  }

.imgage{
    width: 100%;
    height: 400px;
}
.contain{
    margin: 15px;
}
.heading{
    margin-top: 15px;
}
.hoverover:hover{
    background-color:rgb(199, 79, 79);
    border-radius: 5px;

}
.hoverlink{
    color:rgb(15, 15, 19);
    font-size: 16px;
    font-weight: 600;
}
.hoverlink:hover{
    color: rgb(183, 11, 11) ;
    background-color:rgb(245, 225, 225);
    border-radius: 5px;

}

  @media (min-width: 768px) {
    body {
      padding-top: 72px; /* Adjust based on your header height */
    }
  }